<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>THE HOME PAGE <%= 5+2+5+3%></h1>
<P
  >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita laboriosam
  similique adipisci ad pariatur vitae mollitia officiis blanditiis molestiae
  veniam assumenda cupiditate vero obcaecati, perferendis non porro ex, natus
  suscipit.</P
>

<P
  >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero veritatis
  eos alias ipsam perferendis facilis architecto nostrum distinctio, dignissimos
  itaque ratione. Dolor aperiam sequi id suscipit atque dolorum numquam eum!</P
>
<%- include('partials/footer') %>
